%section#main-content
  %section.wrapper.site-min-height
    %h3
      %i.fa.fa-angle-right= " Peoples who follow me"
    .users
      = render :partial => "shared/instausers", :locals => { :users => @followers }